<ul class="nav nav-pills gap-2 flex-wrap">
  <li class="nav-item"><a class="nav-link" href="{% url 'cuotas:ciclo_list' %}">Ciclos</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'cuotas:nivel_list' %}">Niveles</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'cuotas:curso_list' %}">Cursos</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'cuotas:tarifa_nivel_list' %}">Tarifas</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'cuotas:vencimiento_list' %}">Vencimientos</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'cuotas:beneficio_list' %}">Beneficios</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'cuotas:beneficio_insc_list' %}">Beneficios↔Inscripción</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'cuotas:inscripcion_list' %}">Inscripciones</a></li>
</ul>
