{% extends 'base.html' %}

{% block title %}Actualizar Monto Global de Inscripción{% endblock %}

{% block content %}
<h1>Actualizar Monto Global de Inscripción</h1>

<form method="post">
    {% csrf_token %}
    <label for="monto_inscripcion">Monto de Inscripción Actual:</label>
    <input type="number" name="monto_inscripcion" id="monto_inscripcion" value="{{ año_lectivo.monto_inscripcion }}" disabled>

    <label for="nuevo_monto">Nuevo Monto de Inscripción:</label>
    <input type="number" name="nuevo_monto" id="nuevo_monto" step="0.01" required>

    <button type="submit">Actualizar Monto</button>
</form>

{% endblock %}
