{% extends 'base.html' %}

{% block title %}Alumno Inscripto{% endblock %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'cuotas/css/cuotas.css' %}">
{% endblock %}

{% block content %}

<h2>El alumno ya está inscrito en este ciclo</h2>
<p>El alumno {{ alumno.nombres_alumno }} {{ alumno.apellidos_alumno }} ya está inscrito en el ciclo lectivo {{ ciclo.año_lectivo }}.</p>
<a href="{% url 'cuotas:inscribir_alumno' %}">Volver al formulario</a>

{% endblock %}