{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="cuil_alumno">Alumno:</label>
    <select name="cuil_alumno" id="cuil_alumno">
        {% for alumno in alumnos %}
        <option value="{{ alumno.cuil_alumno }}">{{ alumno.nombres_alumno }} {{ alumno.apellidos_alumno }}</option>
        {% endfor %}
    </select>

    <label for="mes">Mes:</label>
    <select name="mes" id="mes">
        {% for mes in meses %}
        <option value="{{ mes }}">{{ mes }}</option>
        {% endfor %}
    </select>

    <button type="submit">Cobrar Cuota</button>
</form>