<h2>Eliminar Ciclo Lectivo {{ ciclo_lectivo.año_lectivo }}</h2>

<p>¿Estás seguro de que deseas eliminar el ciclo lectivo {{ ciclo_lectivo.año_lectivo }}?</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'cuotas:listar_ciclos_lectivos' %}" class="btn btn-secondary">Cancelar</a>
</form>


<h2>Lista de Ciclos Lectivos</h2>

<table>
    <thead>
        <tr>
            <th>Año</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ciclo in ciclos %}
        <tr>
            <td>{{ ciclo.año_lectivo }}</td>
            <td>{{ ciclo.fecha_inicio }}</td>
            <td>{{ ciclo.fecha_fin }}</td>
            <td>
                <a href="{% url 'eliminar_ciclo_lectivo' ciclo.año_lectivo %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
