{% extends 'base.html' %}

{% block title %}Inscripción de Alumnos{% endblock %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'cuotas/css/inscribir_alumno.css' %}">
{% endblock %}

{% block content %}
<article class="inscripcion">
    <div class="inscripcion__contenedor">
        <section class="inscripcion__busqueda">

            <h1 class="titulo-secundario">Buscar Estudiantes por CUIL</h1>
    
            {% if messages %}
                <ul class="mensajes">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
    
            <!-- Formulario de búsqueda -->
            <form method="get" class="formulario-busqueda">
                <label for="q" class="formulario-busqueda__etiqueta">CUIL del estudiante:</label>
                <div class="formulario-busqueda__acciones">
                    <input type="text" name="q" id="q" value="{{ query }}" class="formulario-busqueda__input">
                    <button class="boton-accion" type="submit">
                        <span class="boton-accion__circulo" aria-hidden="true">
                            <span class="boton-accion__icono boton-accion__icono--flecha otro-boton"></span>
                        </span>
                        <span class="boton-accion__texto">Buscar</span>
                    </button>
                </div>
            </form>
            
            <div class="contenedor-resultados">
                <h2 class="titulo-terciario">Resultados de la búsqueda</h2>
                {% if query %}
                    {% if resultados %}
                        <ul class="lista-resultados">
                            {% for resultado, subnivel in resultados %}
                                <li class="lista-resultados__item">
                                    <div class="resultado__nombre">
                                        <strong>Estudiante: </strong> {{ resultado.estudiante.nombres_estudiante }} {{ resultado.estudiante.apellidos_estudiante }}
                                    </div>
                                    <div class="resultado__subnivel">
                                        <strong>Subnivel: </strong> {{ subnivel }}
                                    </div>
                                    <div class="resultado__estado">
                                        <strong>Estado de Documentación: </strong> {{ resultado.estado }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if sin_resultados %}
                        <p class="mensaje-sin-resultados">No se encontraron resultados para el CUIL proporcionado.</p>
                    {% endif %}
        
                    {% if mensaje_documentacion_no_aprobada %}
                        <p class="mensaje-documentacion">{{ mensaje_documentacion_no_aprobada }}</p>
                    {% endif %}
                {% else %}
                    <p class="consulta-alumno__mensaje-info">Aún no se ha realizado ninguna búsqueda.</p>
                {% endif %}
            </div>
        </section>
    
        {% if resultados %}
        <section class="inscripcion__formulario">
    
            <h2 class="titulo-secundario">Inscripción</h2>
    
            <form method="post" class="formulario-inscripcion">
                {% csrf_token %}
    
                <div class="formulario-inscripcion__fila">
                    <!-- Ciclo Lectivo -->
                    <div class="formulario-inscripcion__grupo">
                        <label for="ciclo" class="formulario-inscripcion__etiqueta">Ciclo Lectivo:</label>
                        <select name="ciclo" id="ciclo" required class="formulario-inscripcion__select">
                            <option value="">-- Seleccioná un ciclo --</option>
                            {% for ciclo in ciclos_lectivos %}
                                <option value="{{ ciclo.id }}">{{ ciclo.año_lectivo }}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <!-- Subnivel -->
                    <div class="formulario-inscripcion__grupo">
                        <label for="subnivel" class="formulario-inscripcion__etiqueta">Subnivel:</label>
                        <select name="subnivel" id="subnivel" required class="formulario-inscripcion__select">
                            <option value="">-- Seleccioná un subnivel --</option>
                            {% for subnivel in subniveles_disponibles %}
                                <option value="{{ subnivel.id }}">{{ subnivel }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
    
                <div class="formulario-inscripcion__fila">
                    <!-- Monto de Inscripción -->
                    <div class="formulario-inscripcion__grupo">
                        <label for="monto_inscripcion" class="formulario-inscripcion__etiqueta">Monto de Inscripción:</label>
                        <select name="monto_inscripcion" id="monto_inscripcion" required class="formulario-inscripcion__select">
                            <option value="">-- Seleccioná un monto --</option>
                            {% for monto in montos_disponibles %}
                                <option value="{{ monto.monto_inscripcion }}">{{ monto.subnivel_cursado.nombre }}: {{ monto.monto_inscripcion|floatformat:2 }}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <!-- Descuento por Inscripción -->
                    <div class="formulario-inscripcion__grupo">
                        <label for="descuento_inscripcion" class="formulario-inscripcion__etiqueta">Descuento por Inscripción:</label>
                        <input type="number" name="descuento_inscripcion" id="descuento_inscripcion" step="0.01" value="0" required class="formulario-inscripcion__input">
                    </div>
                </div>
    
                <div class="formulario-inscripcion__fila">
                    <!-- Pago -->
                    <div class="formulario-inscripcion__grupo">
                        <label for="pagada" class="formulario-inscripcion__etiqueta">¿Está pagada?</label>
                        <input type="checkbox" name="pagada" id="pagada" class="formulario-inscripcion__checkbox">
                    </div>
                </div>
    
                <div class="formulario-inscripcion__fila">
                    <div class="formulario-inscripcion__grupo">
                        <button class="boton-accion" type="submit">
                            <span class="boton-accion__circulo" aria-hidden="true">
                                <span class="boton-accion__icono boton-accion__icono--flecha"></span>
                            </span>
                            <span class="boton-accion__texto">Inscribir</span>
                        </button>
                    </div>
                </div>
            </form>
        </section>
        {% endif %}
    </div>
</article>
{% endblock %}


