{% extends 'base.html' %}

{% block title %}Inscripcion exitosa{% endblock %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'cuotas/css/cuotas.css' %}">
{% endblock %}

{% block content %}

<h2>Inscripción exitosa</h2>
<p>El alumno {{ alumno.nombres_alumno }} {{ alumno.apellidos_alumno }} ha sido inscrito con éxito en el ciclo lectivo {{ ciclo.año_lectivo }}.</p>
<p>Monto de inscripción: {{ monto_inscripcion }}</p>
<p>Pagada: {{ pagada|yesno:"Sí,No" }}</p>
<a href="{% url 'cuotas:inscribir_alumno' %}">Inscribir otro alumno</a>

{% endblock %}