<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alumnos</title>
</head>
<body>
    <h1>Lista de Alumnos por Ciclo Lectivo</h1>
    <form method="post">
        {% csrf_token %}
        <label for="ciclo_lectivo">Seleccionar Ciclo Lectivo:</label>
        <select name="ciclo_lectivo" id="ciclo_lectivo">
            {% for ciclo in ciclos_lectivos %}
                <option value="{{ ciclo.id }}" {% if ciclo == ciclo_seleccionado %}selected{% endif %}>
                    {{ ciclo }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Ver Alumnos</button>
    </form>

    {% if ciclo_seleccionado %}
        <h2>Alumnos inscritos en el ciclo: {{ ciclo_seleccionado }}</h2>
        <ul>
            {% for inscripcion in alumnos %}
                <li>{{ inscripcion.cuil_alumno }} - {{ inscripcion.cuil_alumno.nombres_alumno }} {{ inscripcion.cuil_alumno.apellidos_alumno }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
