/* Menú de navegación */

nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: #1b3a5e;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    display: block;
    transition: background 0.3s ease;
}

.nav-list li a:hover {
    background-color: #a200ff;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

/* Dropdown Menus */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Asegura que el dropdown aparezca justo debajo del menú */
    left: 0;
    background-color: #1b3a5e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
    display: block;
}

/* Media Queries */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        width: 100%;
    }

    .dropdown-content {
        position: relative;
    }
}
