/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-image: url("../img/fondo1.5362fac78c1c.png"); /* Cambia por la ruta de tu imagen */
    background-size: 100%;
    background-position: center; /* Centra la imagen */
    background-repeat: repeat-y; /* Repetir sólo de forma vertical */
}

.consulta {
    width: 96%;
    min-height: calc(100vh - 90px);
    justify-content: center;
    float: right;
    display: flex; /* Usamos flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.consulta__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px auto; /* Centrado horizontal */
    border-radius: 10px;
    background: linear-gradient(360deg,rgba(134, 134, 135, 1) 0%, rgba(167, 173, 185, 1) 35%, rgba(201, 201, 202, 1) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.consulta__titulo {
    font-size: 1rem;
    padding: 20px 0;
}

.consulta__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 95%;
    margin: 0 auto 0 auto; /* Centrado horizontal */
    padding: 30px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.consulta__grupo-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.consulta__etiqueta {
    font-weight: bold;
    color: #181818;
    font-size: 0.75rem;
}

.consulta__input {
    width: 50%;
    padding: 10px;
    font-size: 0.75rem;
    border: 1px solid #95a5a6;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

.consulta__input-fecha {
    width: 100%;
    padding: 10px 14px;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

/* From Uiverse.io by cssbuttons-io */ 
.boton-accion {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 10rem;
    height: auto;
}

.boton-accion__circulo {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2.5rem; /* Reducir tamaño del círculo */
    height: 2.5rem; /* Reducir tamaño del círculo */
    background: #116cd4;
    border-radius: 1.25rem; /* Ajustar el radio para mantener la forma circular */
}

.boton-accion__icono {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    width: 0.875rem; /* Ajustar el tamaño del icono */
    height: 0.875rem;
}

.boton-accion__icono--flecha {
    left: 0.625rem;
    width: 0.925rem;
    height: 0.125rem;
    background: none;
}

.boton-accion__icono--flecha::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.125rem;
    width: 0.5rem; /* Reducir el tamaño de la flecha */
    height: 0.5rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.boton-accion__texto {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.8rem 0; /* Reducir el padding */
    margin: 0 0 0 1rem; /* Ajustar el margen izquierdo */
    color: #181818;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.boton-accion:hover .boton-accion__circulo {
    width: 100%;
}

.boton-accion:hover .boton-accion__icono--flecha {
    background: #fff;
    transform: translate(1rem, 0);
}

.boton-accion:hover .boton-accion__texto {
    color: #fff;
}

.descargar-archivos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.descargar-archivos-button {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(66, 149, 33);
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin: 20px 20px 20px 0;
    text-transform: uppercase;
}

.descargar-archivos-button:hover {
    background: rgb(33, 102, 6);
    color: #fff;
}

.consulta-resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 95%;
    margin: 40px auto 0 auto; /* Centrado horizontal */
    padding: 30px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.consulta__subtitulo {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #181818;
    border-bottom: 2px solid #2C3E50; 
    width: 100%;
    padding: 10px;
}

.consulta__cantidad {
    text-align: left;
    align-self: flex-start;
    color: #181818;
    font-size: 13px;
}

.consulta__lista-resultados {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.consulta__item-resultado {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #6f8396;
    padding: 10px;
    font-weight: bold;
    color: #181818;
    font-size: 13px;
}

.consulta__mensaje {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 5px solid #dc3545;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 4px;
    width: 60%;
    font-size: 13px;
    box-shadow: 0 0 10px rgba(220, 53, 69, 0.2);
}

@media (min-width: 1600px) {
    .consulta {
        min-height: calc(100vh - 100px);
    }

    .consulta__titulo {
        font-size: 1.125rem;
        padding: 30px 0;
    }

    .consulta__formulario {
        gap: 2.5rem;
        padding: 50px;
    }

    .consulta__etiqueta {
        font-size: 1rem;
    }
    
    .consulta__input {
        font-size: 1rem;
    }
    
    .consulta__input-fecha {
        font-size: 1rem;
    }

    /* From Uiverse.io by cssbuttons-io */ 
    .boton-accion {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        width: 12rem;
        height: auto;
    }

    .boton-accion__circulo {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #116cd4;
        border-radius: 1.625rem;
    }

    .boton-accion__icono {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }

    .boton-accion__icono--flecha {
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
    }

    .boton-accion__icono--flecha::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
    }

    .boton-accion__texto {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #282936;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }

    .boton-accion:hover .boton-accion__circulo {
        width: 100%;
    }

    .boton-accion:hover .boton-accion__icono--flecha {
        background: #fff;
        transform: translate(1rem, 0);
    }

    .boton-accion:hover .boton-accion__texto {
        color: #fff;
    }

    .descargar-archivos-button {
        background: #116cd4;
        color: #fff;
        font-size: 1rem;
        margin: 40px 40px 40px 0;
    }
}

/* Laptop y notebook */
@media (max-width: 1599px) {

}

/* Tablets */
@media (max-width: 1024px) {

}

/* Celulares grandes */
@media (max-width: 600px) {

}
