/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-image: url('../img/fondo1.png'); /* Cambia por la ruta de tu imagen */
    background-size: cover;  /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #333;
    overflow-x: hidden;
}

.montos {
    width: 96%;
    height: calc(100vh - 90px);
    float: right;
    display: flex; /* Usamos flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.montos__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    margin: 40px auto; /* Centrado horizontal */
    border-radius: 10px;
    background: linear-gradient(360deg,rgba(134, 134, 135, 1) 0%, rgba(167, 173, 185, 1) 35%, rgba(201, 201, 202, 1) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.montos__titulo {
    font-size: 0.875rem;
    padding: 20px 0;
}

.montos__formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap; 
    align-items: center;
    gap: 1rem;
    width: 95%;
    height: 80%;
    margin: 0 auto 40px auto; /* Centrado horizontal */
    padding: 30px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.montos__seccion {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

.montos__campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
}

.montos__input,
.montos__select {
    padding: 10px;
    border: 1px solid #95a5a6;
    border-radius: 5px;
    font-size: 0.75rem;
}

.montos__etiqueta {
    font-weight: bold;
    color: #181818;
    font-size: 0.75rem;
}

.montos__select option {
    font-size: 0.8125rem;
    color: #2c3e50;
    background-color: #ecf0f1;
    padding: 0.5rem;
}

/* From Uiverse.io by cssbuttons-io */ 
.boton-accion {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 10rem;
    height: auto;
}

.boton-accion__circulo {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2.5rem; /* Reducir tamaño del círculo */
    height: 2.5rem; /* Reducir tamaño del círculo */
    background: #116cd4;
    border-radius: 1.25rem; /* Ajustar el radio para mantener la forma circular */
}

.boton-accion__icono {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    width: 0.875rem; /* Ajustar el tamaño del icono */
    height: 0.875rem;
}

.boton-accion__icono--flecha {
    left: 0.625rem;
    width: 0.925rem;
    height: 0.125rem;
    background: none;
}

.boton-accion__icono--flecha::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.125rem;
    width: 0.5rem; /* Reducir el tamaño de la flecha */
    height: 0.5rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.boton-accion__texto {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.8rem 0; /* Reducir el padding */
    margin: 0 0 0 1rem; /* Ajustar el margen izquierdo */
    color: #181818;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.boton-accion:hover .boton-accion__circulo {
    width: 100%;
}

.boton-accion:hover .boton-accion__icono--flecha {
    background: #fff;
    transform: translate(1rem, 0);
}

.boton-accion:hover .boton-accion__texto {
    color: #fff;
}

/* Monitores grandes */
@media (min-width: 1600px) {
    .montos {
        height: calc(100vh - 130px);
    }

    .montos__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: calc(100vh - 120);
        margin: 20px auto; /* Centrado horizontal */
    }

    .montos__formulario {
        gap: 4rem;
    }

    .montos__titulo {
        font-size: 1.125rem;
    }

    .montos__etiqueta {
        font-weight: bold;
        color: #181818;
        font-size: 1rem;
    }

    .montos__input,
    .montos__select {
        font-size: 1rem;
    }

    /* From Uiverse.io by cssbuttons-io */ 
    .boton-accion {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        width: 12rem;
        height: auto;
    }

    .boton-accion__circulo {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: rgb(66 149 33);
        border-radius: 1.625rem;
    }

    .boton-accion__icono {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }

    .boton-accion__icono--flecha {
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
    }

    .boton-accion__icono--flecha::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
    }

    .boton-accion__texto {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #282936;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }

    .boton-accion:hover .boton-accion__circulo {
        width: 100%;
    }

    .boton-accion:hover .boton-accion__icono--flecha {
        background: #fff;
        transform: translate(1rem, 0);
    }

    .boton-accion:hover .boton-accion__texto {
        color: #fff;
    }

}

/* Laptop y notebook */
@media (max-width: 1599px) {

}

/* Tablets */
@media (max-width: 1024px) {

}

/* Celulares grandes */
@media (max-width: 600px) {

}