/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-image: url('../img/fondo1.png'); /* Cambia por la ruta de tu imagen */
    background-size: cover;  /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.ciclo {
    width: 96%;
    height: calc(100vh - 90px);
    float: right;
    display: flex; /* Usamos flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

.ciclo__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 20px auto; /* Centrado horizontal */
    border-radius: 10px;
    background: linear-gradient(360deg,rgba(134, 134, 135, 1) 0%, rgba(167, 173, 185, 1) 35%, rgba(201, 201, 202, 1) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -4px 8px rgba(0, 0, 0, 0.5);
}

.ciclo__titulo {
    font-size: 0.875rem;
    padding: 20px 0;
}

.ciclo__formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 95%;
    height: 80%;
    margin: 0 auto 40px auto; /* Centrado horizontal */
    padding: 30px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -4px 8px rgba(0, 0, 0, 0.3);
}

.ciclo__seccion {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

.ciclo__campo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
}

.ciclo__input,
.ciclo__select {
    padding: 10px;
    border: 1px solid #95a5a6;
    border-radius: 5px;
    font-size: 0.75rem;
}

.ciclo__etiqueta {
    font-weight: bold;
    color: #181818;
    font-size: 0.75rem;
}

.ciclo__select option {
    font-size: 0.8125rem;
    color: #2c3e50;
    background-color: #ecf0f1;
    padding: 0.4rem;
}

.ciclo__botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 30%;
}

/* From Uiverse.io by cssbuttons-io */ 
.boton-accion {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 10rem;
    height: auto;
}

.boton-accion__circulo {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2.5rem; /* Reducir tamaño del círculo */
    height: 2.5rem; /* Reducir tamaño del círculo */
    background: #116cd4;
    border-radius: 1.25rem; /* Ajustar el radio para mantener la forma circular */
}

.boton-accion__icono {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    width: 0.875rem; /* Ajustar el tamaño del icono */
    height: 0.875rem;
}

.boton-accion__icono--flecha {
    left: 0.625rem;
    width: 0.925rem;
    height: 0.125rem;
    background: none;
}

.boton-accion__icono--flecha::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.125rem;
    width: 0.5rem; /* Reducir el tamaño de la flecha */
    height: 0.5rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.boton-accion__texto {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.8rem 0; /* Reducir el padding */
    margin: 0 0 0 1rem; /* Ajustar el margen izquierdo */
    color: #181818;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.boton-accion:hover .boton-accion__circulo {
    width: 100%;
}

.boton-accion:hover .boton-accion__icono--flecha {
    background: #fff;
    transform: translate(1rem, 0);
}

.boton-accion:hover .boton-accion__texto {
    color: #fff;
}

/* Monitores grandes */
@media (min-width: 1600px) {
    .ciclo {
        height: calc(100vh - 100px);
        max-height: auto;
    }

    .ciclo__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 20px auto; /* Centrado horizontal */
    }

    .ciclo__formulario {
        gap: 5rem;
    }

    .ciclo__titulo {
        font-size: 1.125rem;
    }

    .ciclo__etiqueta {
        font-weight: bold;
        color: #181818;
        font-size: 1rem;
    }

    .ciclo__input,
    .ciclo__select {
        font-size: 1rem;
    }

    .ciclo__select option {
        font-size: 1rem;
        color: #2c3e50;
        background-color: #ecf0f1;
        padding: 0.4rem;
    }

    /* From Uiverse.io by cssbuttons-io */ 
    .boton-accion {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        width: 12rem;
        height: auto;
    }

    .boton-accion__circulo {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #116cd4;
        border-radius: 1.625rem;
    }

    .boton-accion__icono {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }

    .boton-accion__icono--flecha {
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
    }

    .boton-accion__icono--flecha::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
    }

    .boton-accion__texto {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #282936;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }

    .boton-accion:hover .boton-accion__circulo {
        width: 100%;
    }

    .boton-accion:hover .boton-accion__icono--flecha {
        background: #fff;
        transform: translate(1rem, 0);
    }

    .boton-accion:hover .boton-accion__texto {
        color: #fff;
    }

}

@media (max-width: 600px) {
  .ciclo {
    height: auto; /* que la altura no limite el contenido */
    padding: 10px;
  }

  .ciclo__contenedor {
    width: 95%; /* ocupar casi todo el ancho de pantalla */
    margin: 10px auto;
  }

  .ciclo__formulario {
    width: 100%;
    padding: 15px 10px;
    gap: 1rem;
  }

  .ciclo__seccion {
    flex-direction: column; /* que las secciones que estaban en fila se apilen */
    gap: 1rem;
  }

  .ciclo__campo {
    width: 100%;
  }

  .ciclo__input,
  .ciclo__select {
    width: 100%; /* que los inputs y selects no excedan su contenedor */
    font-size: 0.85rem;
  }

  .ciclo__botones {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .boton-accion {
  display: flex;
  align-items: center;
  gap: 0.8rem; /* espacio entre círculo y texto */
  width: auto; /* que se ajuste al contenido */
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: inherit;
  color: #181818;
}

.boton-accion__circulo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #116cd4;
  flex-shrink: 0; /* para que no se reduzca */
  position: relative;
}

.boton-accion__texto {
  position: static; /* eliminar absolute */
  margin: 0;
  padding: 0;
  color: inherit;
  text-transform: uppercase;
  line-height: 1.2;
}
}
