/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/fondo1.png'); /* Cambia por la ruta de tu imagen */
    background-size: cover;  /* Asegura que la imagen cubra todo el fondo */
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

/* Título principal */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Formulario principal */
form {
    max-width: 800px;
    margin: 30px auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Etiquetas */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

/* Campos de entrada y selectores */
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

/* Campo de checkbox */
input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

/* Botón de acción */
button {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: rgb(66, 149, 33); /* Verde */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: rgb(68, 123, 46); /* Verde más oscuro */
    transform: translateY(-2px); /* Efecto de elevación */
}

button:active {
    background-color: rgb(39, 70, 27); /* Verde aún más oscuro */
    transform: translateY(0); /* Sin elevación */
}

/* Mensajes de éxito o error */
.messages {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
}

.messages li.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.messages li.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}
