/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-image: url('../img/fondo1.png'); /* Cambia por la ruta de tu imagen */
    background-size: cover;  /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.inscripcion {
    width: 96%;
    height: calc(100vh - 90px);
    float: right;
    display: flex; /* Usamos flexbox para centrar */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}

/* Buscador */
.inscripcion__contenedor {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 95%;
    height: 95%;
    margin: 20px auto; /* Centrado horizontal */
    border-radius: 10px;
    background: linear-gradient(360deg,rgba(134, 134, 135, 1) 0%, rgba(167, 173, 185, 1) 35%, rgba(201, 201, 202, 1) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -4px 8px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.titulo-secundario {
    font-size: 0.875rem;
    text-align: center;
}

.inscripcion__busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -4px 8px rgba(0, 0, 0, 0.3);
    gap: 1rem;
}

.formulario-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.formulario-busqueda__etiqueta {
    font-weight: bold;
    color: #181818;
    font-size: 0.75rem;
}

.formulario-busqueda__acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.formulario-busqueda__input {
    padding: 10px;
    border: 1px solid #95a5a6;
    border-radius: 5px;
    font-size: 0.75rem;
    width: 70%;
}

/* From Uiverse.io by cssbuttons-io */ 
.boton-accion {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 10rem;
    height: auto;
}

.boton-accion__circulo {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2.5rem; /* Reducir tamaño del círculo */
    height: 2.5rem; /* Reducir tamaño del círculo */
    background: #116cd4;
    border-radius: 1.25rem; /* Ajustar el radio para mantener la forma circular */
}

.boton-accion__icono {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    width: 0.875rem; /* Ajustar el tamaño del icono */
    height: 0.875rem;
}

.boton-accion__icono--flecha {
    left: 0.625rem;
    width: 0.925rem;
    height: 0.125rem;
    background: none;
}

.boton-accion__icono--flecha::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.125rem;
    width: 0.5rem; /* Reducir el tamaño de la flecha */
    height: 0.5rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.otro-boton::before {
    top: -0.25rem;
}

.boton-accion__texto {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.8rem 0; /* Reducir el padding */
    margin: 0 0 0 1rem; /* Ajustar el margen izquierdo */
    color: #181818;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.boton-accion:hover .boton-accion__circulo {
    width: 100%;
}

.boton-accion:hover .boton-accion__icono--flecha {
    background: #fff;
    transform: translate(1rem, 0);
}

.boton-accion:hover .boton-accion__texto {
    color: #fff;
}

.contenedor-resultados {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-terciario {
    font-size: 0.875rem;
    border-bottom: 1px solid #7f8b8b;
    padding: 10px;
    text-align: center;
    width: 90%;
}

.lista-resultados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    padding: 10px;
}

.lista-resultados__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    border-bottom: 1px solid #7f8b8b;
    gap: 0.5rem;
    padding-bottom: 10px;
}

.resultado__nombre,
.resultado__subnivel,
.resultado__estado {
    color: #181818;
    font-size: 0.875rem;
    margin-left: 10px;
}

.mensaje-sin-resultados,
.mensaje-documentacion {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 5px solid #dc3545;
    padding: 10px;
    margin-top: 0.5rem;
    border-radius: 4px;
    font-size: 0.75rem;
}

.consulta-alumno__mensaje-info {
    background-color: #e8f0fe;
    color: #1a73e8;
    border: 1px solid #bcd4fc;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Formulario de Inscripcion */
.inscripcion__formulario {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -4px 8px rgba(0, 0, 0, 0.3);
    gap: 1rem;
}

.formulario-inscripcion {
    width: 100%;
    gap: 5rem;
}

.formulario-inscripcion__fila {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formulario-inscripcion__grupo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formulario-inscripcion__etiqueta {
    text-align: start;
    font-weight: bold;
    color: #181818;
    font-size: 0.75rem;
}

.formulario-inscripcion__select {
    font-size: 13px;
    color: #2c3e50;
    background-color: #ecf0f1;
    padding: 0.3rem;
    margin: 0.4rem 0;
    border-radius: 5px;
}

.formulario-inscripcion__input {
    padding: 0.3rem;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    font-size: 12px;
    margin: 0.4rem 0;
}

.formulario-inscripcion__checkbox {
    width: 20px;
    height: 20px;
    align-items: center;
    margin: 0.4rem 0;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border-left: 5px solid #28a745;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 4px;
    font-size: 0.75rem;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border-left: 5px solid #dc3545;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 4px;
    font-size: 0.75rem;
}

/* Monitores grandes */
@media (min-width: 1600px) {
    .inscripcion {
        height: calc(100vh - 130px);
    }

    .inscripcion__contenedor {
        gap: 2rem;
    }

    .inscripcion__busqueda {
        gap: 2rem;
    }

    .titulo-secundario {
        font-size: 1.125rem;
    }

    .formulario-busqueda__etiqueta {
        font-size: 1rem;
    }
    
    .formulario-busqueda__acciones {
        gap: 1rem;
        flex-direction: column;
    }
    
    .formulario-busqueda__input {
        padding: 12px;
        font-size: 1rem;
    }

    .titulo-terciario {
        font-size: 1.125rem;
        padding: 45px 0 20px 0;
    }

    .lista-resultados__item {
        gap: 1.5rem;
        padding: 20px;
    }

    .resultado__nombre,
    .resultado__subnivel,
    .resultado__estado {
        font-size: 1rem;
        margin-left: 20px;
    }

    .mensaje-sin-resultados,
    .mensaje-documentacion {
        font-size: 1rem;
    }

    /* From Uiverse.io by cssbuttons-io */ 
    .boton-accion {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        width: 12rem;
        height: auto;
    }

    .boton-accion__circulo {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: rgb(66 149 33);
        border-radius: 1.625rem;
    }

    .boton-accion__icono {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }

    .boton-accion__icono--flecha {
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
    }

    .boton-accion__icono--flecha::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
    }

    .boton-accion__texto {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #282936;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
    }

    .boton-accion:hover .boton-accion__circulo {
        width: 100%;
    }

    .boton-accion:hover .boton-accion__icono--flecha {
        background: #fff;
        transform: translate(1rem, 0);
    }

    .boton-accion:hover .boton-accion__texto {
        color: #fff;
    }

    .contenedor-resultados {
        justify-content: start;
    }

    .consulta-alumno__mensaje-info {
        margin-top: 1.5rem;
    }

    /* Formulario de Inscripcion */
    .inscripcion__formulario {
        justify-content: start;
        padding: 30px 40px 0 40px ; 
    }

    .formulario-inscripcion__fila {
        flex-direction: column;
    }

    .formulario-inscripcion__etiqueta {
        font-size: 1rem;
    }

    .formulario-inscripcion__select {
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .formulario-inscripcion__input {
        padding: 0.5rem;
        font-size: 1.2rem;
    }

    .formulario-inscripcion__checkbox {
        margin: 0.8rem 0;
    }

}

/* Laptop y notebook */
@media (max-width: 1599px) {

}

/* Tablets */
@media (max-width: 1024px) {

}

/* Celulares grandes */
@media (max-width: 600px) {

}
