{% extends 'base.html' %}

{% block title %}Consulta de Comprobante{% endblock %}

{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'cuotas/css/cuotas.css' %}">
{% endblock %}

{% block content %}

<!-- Contenedor principal -->
<div class="consulta-container">
    <!-- Contenedor de botones superiores -->
    <div class="consulta-header-buttons">
        <form method="get" action="{% url 'descargar_archivos_nube' %}" class="consulta-action-buttons">
            <button type="submit" class="consulta-action-button alumnos-btn">Descargar Archivos de la Nube</button>
        </form>

        <form method="post" action="{% url 'vaciar_carpeta_drive' %}" class="consulta-action-buttons">
            {% csrf_token %}
            <button type="submit" class="consulta-action-button alumnos-btn">Vaciar Carpeta de Google Drive</button>
        </form>
    </div>

    <!-- Contenedor del formulario de búsqueda -->
    <div class="consulta-busqueda">
        <h2>Consulta de Comprobante</h2>
        <form method="post" class="consulta-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="consulta-buscar-button alumnos-btn">Buscar</button>
        </form>
    </div>

    <!-- Resultados de la búsqueda -->
    {% if search_done %}
        {% if resultados %}
            <div class="consulta-resultados">
                <h2 class="consulta-resultados-titulo">Resultados de la búsqueda</h2>
                <p>Cantidad de archivos encontrados: {{ cantidad_archivos }}</p>
                <ul class="consulta-lista-resultados">
                    {% for resultado in resultados %}
                    <li class="consulta-item-resultado">
                        <strong>Nombre:</strong> <a href="{{ resultado.url }}" target="_blank">{{ resultado.nombre }}</a><br>
                        <strong>Fecha de modificación:</strong> {{ resultado.fecha }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>No se encontraron documentos.</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
