{% extends 'base.html' %}

{% block title %}Lista de Alumnos{% endblock %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="../../static/administracion_alumnos/css/styles_listar_alumnos.css">
{% endblock %}

{% block content %}

<div class="alumnos-container">
    <div class="alumnos">
        <h1 class="alumnos-titulo">LISTA DE ALUMNOS</h1>

        <form class="alumnos-controls" action="{% url 'generar_pdf_lista_alumnos' %}" method="get">
            <button class="alumnos-btn" type="submit">Generar PDF</button>
        </form>
    </div>

    <div class="alumnos-scroll-container">
        <table class="alumnos-table" id="data-table">
            <thead>
                <tr>
                    <th>CUIL</th>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Género</th>
                    <th>Domicilio</th>
                    <th>Teléfono</th>
                    <th>Localidad</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Filas de datos iniciales -->
                {% if alumnos %}
                    {% for alumno in alumnos %}
                        <tr>
                            <td><a href="{% url 'alumno_detail' pk=alumno.pk %}">{{ alumno.cuil_alumno }}</a></td>
                            <td>{{ alumno.apellidos_alumno }}</td>
                            <td>{{ alumno.nombres_alumno }}</td>
                            <td>{{ alumno.fecha_nacimiento_alumno }}</td>
                            <td>{{ alumno.genero_alumno }}</td>
                            <td>{{ alumno.domicilio_residencia_alumno }}</td>
                            <td>{{ alumno.numero_telefonico_alumno }}</td>
                            <td>{{ alumno.localidad_residencia_alumno }}</td>
                            <td><button class="alumnos-btn" onclick="toggleDetails(this)">Ver más</button></td>
                        </tr>
                        <!-- Detalles adicionales ocultos en forma de tabla -->
                        <tr class="alumnos-details-row" style="display:none;">
                            <td colspan="9">
                                <table class="alumnos-details-table">
                                    <tr>
                                        <td>
                                            <div class="alumnos-cell-header">Provincia</div>
                                            <div class="alumnos-cell-content">{{ alumno.provincia_residencia_alumno }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Código Postal</div>
                                            <div class="alumnos-cell-content">{{ alumno.codigo_postal_alumno }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Localidad de Nacimiento</div>
                                            <div class="alumnos-cell-content">{{ alumno.localidad_nacimiento_alumno }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Provincia de Nacimiento</div>
                                            <div class="alumnos-cell-content">{{ alumno.provincia_nacimiento_alumno }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="alumnos-cell-header">Nacionalidad</div>
                                            <div class="alumnos-cell-content">{{ alumno.nacionalidad_alumno }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Nivel Cursado</div>
                                            <div class="alumnos-cell-content">{{ alumno.nivel_cursado_alumno }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Año de Ingreso</div>
                                            <div class="alumnos-cell-content">{{ alumno.ingreso_alumno }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Medicamento</div>
                                            <div class="alumnos-cell-content">{{ alumno.medicamento_alumno }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="alumnos-cell-header">Alergia</div>
                                            <div class="alumnos-cell-content">{{ alumno.alergia_alumno }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Alergia a Medicamentos</div>
                                            <div class="alumnos-cell-content">{{ alumno.alergico_medicamento_alumno }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Condición Médica</div>
                                            <div class="alumnos-cell-content">{{ alumno.condicion_medica_alumno }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">CUIL Tutor</div>
                                            <div class="alumnos-cell-content">{{ alumno.cuil_tutor }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="alumnos-cell-header">Apellido y Nombre del Tutor</div>
                                            <div class="alumnos-cell-content">{{ alumno.apellido_nombre_tutor }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Teléfono del Tutor</div>
                                            <div class="alumnos-cell-content">{{ alumno.telefono_tutor }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Domicilio del Tutor</div>
                                            <div class="alumnos-cell-content">{{ alumno.domicilio_tutor }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Localidad del Tutor</div>
                                            <div class="alumnos-cell-content">{{ alumno.localidad_tutor }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="alumnos-cell-header">Provincia del Tutor</div>
                                            <div class="alumnos-cell-content">{{ alumno.provincia_tutor }}</div>
                                        </td>
                                        <td>
                                            <div class="alumnos-cell-header">Código Postal del Tutor</div>
                                            <div class="alumnos-cell-content">{{ alumno.codigo_postal_tutor }}</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="26">No hay alumnos en la base de datos.</td>
                    </tr>
                {% endif %}
            <tbody>
        </table>
    </div>
</div>

<script>

    function toggleDetails(button) {
        const row = button.closest('tr');
        const detailsRow = row.nextElementSibling;

        if (detailsRow.style.display === "none") {
            detailsRow.style.display = "table-row";
            button.textContent = "Ver menos";
        } else {
            detailsRow.style.display = "none";
            button.textContent = "Ver más";
        }
    }

</script>

{% endblock %}
