{% extends 'base.html' %}

{% block title %}Lista de Alumnos{% endblock %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="../../static/administracion_alumnos/css/styles_listar_alumnos.css">
{% endblock %}

{% block content %}

<div class="alumnos-container">
    <div class="alumnos">
        <h1 class="alumnos-titulo">Lista de Estudiantes</h1>

        <form class="alumnos-controls" action="{% url 'generar_pdf_lista_alumnos' %}" method="get">
            <button class="alumnos-btn" type="submit">Generar PDF</button>
        </form>
    </div>
    <div class="tabs">
        <button class="tab-button active" onclick="showTab('todos')">Todos</button>
        <button class="tab-button" onclick="showTab('pendientes')">Pendientes</button>
        <button class="tab-button" onclick="showTab('aprobados')">Aprobados</button>
    </div>
    <div class="alumnos-scroll-container">
        <div class="tab-content active" id="todos">
            <table class="alumnos-table" id="data-table">
                <thead>
                    <tr>
                        <th>CUIL</th>
                        <th>Apellido/s</th>
                        <th>Nombre/s</th>
                        <th>Nivel</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% if estudiantes %}
                        {% for estudiante in estudiantes %}
                            <tr>
                                <td>{{ estudiante.cuil_estudiante }}</td>
                                <td>{{ estudiante.apellidos_estudiante }}</td>
                                <td>{{ estudiante.nombres_estudiante }}</td>
                                <td>{{ estudiante.nivel_estudiante }}</td>
                                <td>
                                    {% for estado in estudiante.estados_documentacion.all %}
                                        {{ estado.estado }}
                                    {% endfor %}
                                </td>
                                <td>
                                    <form class="alumnos-controls" action="{% url 'estudiante_detail' pk=estudiante.pk %}" method="get">
                                        <button class="alumnos-btn-1" type="submit"><i class="fas fa-eye"></i></button>
                                    </form>
                                </td>
                            </tr>  
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="26">No hay alumnos en la base de datos.</td>
                        </tr>
                    {% endif %}
                <tbody>
            </table>
        </div>
        <div class="tab-content" id="pendientes">
            <table class="alumnos-table" id="data-table">
                <thead>
                    <tr>
                        <th>CUIL</th>
                        <th>Apellido/s</th>
                        <th>Nombre/s</th>
                        <th>Nivel</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <!-- Filas de datos iniciales -->
                    {% if estudiantes_pendientes %}
                        {% for estudiante in estudiantes_pendientes %}
                            <tr>
                                <td>{{ estudiante.cuil_estudiante }}</td>
                                <td>{{ estudiante.apellidos_estudiante }}</td>
                                <td>{{ estudiante.nombres_estudiante }}</td>
                                <td>{{ estudiante.nivel_estudiante }}</td>
                                <td>
                                    {% for estado in estudiante.estados_documentacion.all %}
                                        {{ estado.estado }}
                                    {% endfor %}
                                </td>
                                <td>
                                    <form class="alumnos-controls" action="{% url 'alumno_detail' pk=estudiante.pk %}" method="get">
                                        <button class="alumnos-btn-1" type="submit">Ver Datos</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No hay alumnos en la base de datos.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="tab-content" id="aprobados">
            <table class="alumnos-table" id="data-table">
                <thead>
                    <tr>
                        <th>CUIL</th>
                        <th>Apellido/s</th>
                        <th>Nombre/s</th>
                        <th>Nivel</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% if estudiantes_aprobados %}
                        {% for estudiante in estudiantes_aprobados %}
                            <tr>
                                <td>{{ estudiante.cuil_estudiante }}</td>
                                <td>{{ estudiante.apellidos_estudiante }}</td>
                                <td>{{ estudiante.nombres_estudiante }}</td>
                                <td>{{ estudiante.nivel_estudiante }}</td>
                                <td>
                                    {% for estado in estudiante.estados_documentacion.all %}
                                        {{ estado.estado }}
                                    {% endfor %}
                                </td>
                                <td>
                                    <form class="alumnos-controls" action="{% url 'alumno_detail' pk=estudiante.pk %}" method="get">
                                        <button class="alumnos-btn-1" type="submit">Ver Datos</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No hay alumnos aprobados.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

function showTab(tabName) {
    // Ocultar todas las pestañas
    const tabs = document.querySelectorAll('.tab-content');
    tabs.forEach(tab => tab.classList.remove('active'));
    
    // Mostrar la pestaña seleccionada
    const activeTab = document.getElementById(tabName);
    activeTab.classList.add('active');
    
    // Cambiar estilo de botones
    const buttons = document.querySelectorAll('.tab-button');
    buttons.forEach(button => button.classList.remove('active'));
    const activeButton = document.querySelector(`.tab-button[onclick="showTab('${tabName}')"]`);
    activeButton.classList.add('active');
}


</script>

{% endblock %}
