{% extends 'base.html' %}

{% block title %}Datos del Alumno{% endblock %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'administracion_alumnos/css/styles_ver_datos.css' %}">
{% endblock %}

{% block content %}
    <div class="see-student-container">
        <h1>Datos del Alumno</h1>
        <form method="post" enctype="multipart/form-data" class="see-student-form">
            <table class="student-table">
                <tbody>
                    {% for key, value in campos_alumno.items %}
                        <tr>
                            <th>{{ key|capfirst }}</th>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <div class="button-group">
            <a href="{% url 'consultar_alumno' %}" class="button-submit">Volver</a>
            <a href="{% url 'generar_pdf_alumno' alumno_id=campos_alumno.cuil_alumno %}" class="button-submit">Generar PDF</a>
        </div>
    </div>
{% endblock %}
